# Dependencies
node_modules/

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Reports
cypress/reports/
mochawesome-report/
mochawesome.json

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.*

# macOS
.DS_Store

# Windows
Thumbs.db
